.flex-container{
    display: flex;
    background-color: lightgrey;
    padding: 10px;
    flex-direction: column;
}

.flex-item {
    background: darkblue;
    color: white;
    padding: 20px;
    text-align: center;

}